absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
apt-clone==0.2.1
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.3.3
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.2.0
autokey==0.95.10
autopep8==1.6.0
backcall==0.2.0
barnum==0.5.1
beautifulsoup4==4.8.2
black==21.12b0
bleach==4.1.0
blinker==1.4
Brlapi==0.7.0
bs4==0.0.1
CacheControl==0.12.10
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.6
click==8.0.3
cmake==3.22.3
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
cryptography==37.0.0
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
debugpy==1.5.1
decorator==5.1.1
deepface==0.0.74
defer==1.0.6
defusedxml==0.7.1
distro==1.4.0
dlib==19.23.1
docopt==0.6.2
entrypoints==0.3
executing==0.8.2
fer==22.4.0
filelock==3.6.0
firebase-admin==5.1.0
Flask==2.1.1
flatbuffers==2.0
frozenlist==1.3.0
future==0.18.2
gast==0.5.3
gdown==4.4.0
gevent==21.12.0
google-api-core==2.2.2
google-api-python-client==2.30.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.2.1
google-cloud-firestore==2.3.4
google-cloud-storage==1.42.3
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
greenlet==1.1.2
grpcio==1.41.1
grpcio-status==1.41.1
h11==0.13.0
h5py==3.6.0
httplib2==0.20.2
idna==2.8
ifaddr==0.1.6
IMDbPY==6.8
importlib-metadata==4.11.3
importlib-resources==5.4.0
iniconfig==1.1.1
instagrapi==1.13.5
ipykernel==6.9.1
ipython==8.0.1
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
keras==2.8.0
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.3.2
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
libclang==13.0.0
logilab-common==1.4.3
louis==3.12.0
lxml==4.6.3
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
msgpack==1.0.2
mtcnn==0.1.1
multidict==6.0.2
mypy-extensions==0.4.3
names==0.3.0
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nemo-emblems==5.0.0
nest-asyncio==1.5.4
netaddr==0.7.19
netifaces==0.10.4
notebook==6.4.8
numpy==1.21.2
oauthlib==3.1.0
onboard==1.4.1
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
opt-einsum==3.3.0
outcome==1.1.0
packaging==21.3
PAM==0.4.2
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pbr==5.7.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pipreqs==0.4.11
platformdirs==2.4.0
pluggy==1.0.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
proto-plus==1.19.8
protobuf==3.19.1
psutil==5.5.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.8.0
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.9.9
pycups==1.9.73
pycurl==7.43.0.2
pydantic==1.8.2
pyee==8.2.2
Pygments==2.11.2
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==1.7.1
pylint==2.4.4
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==22.0.0
pyparsing==2.4.6
pyparted==3.11.2
pyppeteer==1.0.2
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
pyRFC3339==1.1
pyrsistent==0.18.1
PySide2==5.15.2
PySimpleGUI==4.55.1
PySimpleGUIDesigner==0.1.4.7
PySocks==1.7.1
pytest==6.2.5
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-dotenv==0.19.2
python-magic==0.4.16
python-xapp==2.2.1
python-xlib==0.23
pytz==2021.3
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.3.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
reportlab==3.5.34
requests==2.4.2
requests-file==1.4.3
requests-futures==1.0.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
retina-face==0.0.10
rsa==4.7.2
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
SecretStorage==2.3.1
selenium==4.1.3
Send2Trash==1.8.0
setproctitle==1.1.10
shiboken2==5.15.2
simplejson==3.16.0
sip==4.19.21
six==1.14.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==1.9.5
stack-data==0.2.0
statsmodels==0.13.2
systemd-python==234
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
testresources==2.0.1
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tinycss2==1.0.2
tldextract==2.2.1
toml==0.10.2
tomli==1.2.3
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
trio==0.20.0
trio-websocket==0.9.2
typing-extensions==3.10.0.2
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
uritemplate==4.1.1
urllib3==1.25.11
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
Werkzeug==2.1.1
wrapt==1.11.2
wsproto==1.1.0
xgboost==1.6.0
xkit==0.0.0
yarg==0.1.9
yarl==1.7.2
youtube-dl==2021.4.26
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
